body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: black;
}

h1{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}
h1::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: crimson;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
      width: 100px;
  }
  50%{
      width: 200px;
  }
  100%{
      width: 100px;
  }
}

.profile-info {
    margin-top: 20px;
    text-align: center;
}

.profile-info img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.profile-info p {
    margin: 10px 0;
    font-size: 20px;
    color: black;
}

.topnav {
    background-color: #eeadad;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #a69ef1;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .profile {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  


  